body{
	font-family:  Helvetica;
}

h1{
	text-align: center;
}

.colonne{
	width: 300px;
	display: inline-block;
	float: left;
}

#choix{
	margin:  auto;
}

#resultats{
	border: 2px solid black;
	border-radius: 25px;
	top: 200px;
	position: absolute;
	width: 500px;
	text-align:  center;
	line-height: 30px;
	padding-bottom: 20px;
}

#resultats br {
	display: none;
}


